.editorContainer {
  height: 500px;
  max-width: 1000px;
  width: 100%;
  border: solid 3px blue;
  margin: 100px;
}

.textarea {
  width: 700px;
  height: 300px;
  outline: solid 3px rgba(0, 0, 0, 0.6);
  border: none;
  padding: 50px;
  font-weight: 500;
  font-size: 16px;
}

.container pre {
  background-color: #243447;
  color: #fbe473;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  max-width: 700px;
  overflow-x: scroll;
}

.container img {
  width: 400px;
  height: 400px;
}

.container blockquote {
  padding-left: 10px;
  border-left: 6px solid rgba(16, 125, 172, 0.7);
  max-width: 500px;
}

.container blockquote p {
  background-color: rgba(16, 125, 172, 0.3);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 8px;
}

.container a {
  font-weight: 600;
  font-size: 18px;
  color: rgba(16, 125, 172, 0.8);
  text-decoration: none;
}

.container a:hover {
  font-size: 24px;
}
